<section class="alt-route-content">
  <img class="food-img fbox-1" src="images/cookies/medoka-cookies.jpg">
  <article class="food-info fbox-2">
    <ul><%= @madokacookies.name %>
      <li>Price: <%= @madokacookies.price %>
      <li><br /><%= @madokacookies.description %>
    </ul>
  </article>
   <img class="food-img fbox-3" src="images/cookies/cat-cookies.jpg">
  <article class="food-info fbox-4">
    <ul><%= @sailorcookies.name %>
      <li>Price: <%= @sailorcookies.price %>
      <li><br /><br /><%= @sailorcookies.description %>
    </ul>
  </article>
   <img class="food-img fbox-5" src="images/cookies/totoro-cookies.jpg">
  <article class="food-info fbox-6">
    <ul><%= @totorocookies.name %>
      <li>Price: <%= @totorocookies.price %>
      <li><br /><%= @totorocookies.description %>
    </ul>
  </article>
</section>

<%#IMG credits: https://imgur.com/E1AWI
  %>